body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f5f7ff;
    transition: 0.3s;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 20;
}

.logo {
    margin: 0;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 45px;
    margin: 0;
}

.highlight {
    color: #5a4bff;
}

.hero-btns {
    margin-top: 20px;
}

.start-btn {
    background: #5a4bff;
    border: none;
    padding: 12px 28px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.learn-btn {
    background: white;
    border: 2px solid #5a4bff;
    padding: 12px 28px;
    margin-left: 10px;
    color: #5a4bff;
    border-radius: 10px;
    cursor: pointer;
}

/* TRACKER */
.tracker {
    padding: 40px 20px;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    margin-top: 20px;
    gap: 15px;
}

.stat-card {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

.top-streaks {
    margin-top: 40px;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

/* HABIT LIST */
.habit-list {
    margin-top: 20px;
}

.habit-item {
    display: flex;
    justify-content: space-between;
    padding: 14px;
    margin-bottom: 10px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

.complete-btn {
    background: #5a4bff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* ADD BTN */
.add-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #5a4bff;
    color: white;
    border: none;
    padding: 16px 22px;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}

/* POPUP */
.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background: white;
    padding: 25px;
    width: 300px;
    border-radius: 12px;
    text-align: center;
}

.popup input {
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.popup button {
    margin-top: 10px;
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #5a4bff;
    color: white;
    cursor: pointer;
}
